.chronometre-container {
  transform: translateX(-50%) translateY(-85%);
  width: 5rem;
  position: absolute;
  left: 50%;
  top: 47%;
  .chronometre {
    width: 100%;
  }
  .aiguille-minute,
  .aiguille-seconde {
    width: 100%;
    position: absolute;
    transform: scale(1.1);
    top: 0.625rem;
    left: 0;
  }

   &.actif {
    .aiguille-minute {
      animation: rotate 30s steps(60, end) infinite;
    }
    .aiguille-seconde {
      animation: rotate 2.5s steps(60, end) infinite;
    }
  }
}

 @keyframes rotate {
 to { transform: scale(1.1) rotateZ(360deg); }
}
