.chronometre {
  position: absolute;
  margin: 16.8% 46%;
  height: 6.6rem;
  width: 5rem;
  background-size: cover;
  z-index: 1;
  .minutes {
    position: absolute;
    height: 5rem;
    width: 1rem;
    margin: -0.35rem 2rem;
    transform-origin: 50% 90%;
    background-size: cover;
    transform: scale(.5);
  }
  .secondes {
    position: absolute;
    height: 3.6rem;
    width: 1rem;
    margin: 1.05rem 2rem;
    transform-origin: 50% 87%;
    background-size: cover;
    transform: scale(.5);
  }
  &.en-marche {
    .minutes {
      animation: tick 30s steps(60, end) infinite;
    }
    .secondes {
      animation: tick 2.5s steps(60, end) infinite;
    }
  }
}

@keyframes tick {
  to { transform: scale(.5) rotate(360deg) }
}
