.scene.tri {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.piece {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  width: 75px;
  height: 64px;
}
