.scene.tri {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.chronometre-container {
  transform: translateX(-50%) translateY(-85%);
  width: 5.6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  .chronometre {
    width: 100%;
  }
  .aiguille-minute,
  .aiguille-seconde {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &.actif {
    .aiguille-minute {
      animation: rotate 3660s infinite steps(60);
    }
    .aiguille-seconde {
      animation: rotate 60s infinite steps(60);
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
