.scene.tri {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.piece {
  background-image: url('../assets/bonbon1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  width: 75px;
  height: 64px;
  top: 470px;
  left: 30px;
}
