@import 'commun/styles/couleurs.scss';

.zone {
  fill: transparent;
  stroke: $orange;
  stroke-width: 12px;

  &-clickable {
    stroke: $blanc;
    cursor: pointer;
  }

  &-agrandi {
    stroke: $blanc;
  }
}

.overlay-zone {
  fill: transparentize($orange, 0.2);
}

.transition-transform {
  transition: transform .3s ease;
}
.transform-scale-1-5 {
  transform: scale(1.5);
}

.overlay-zone-actions-cache {
  transform: translate(0, 100%);
}

.overlay-zone-action {
  cursor: pointer;
}
