@import 'commun/styles/variables.scss';

.conteneur-prevention {
  height:100%;
  width:100%;
}

.zone {
  fill: transparent;
  stroke: $orange;
  stroke-width: 12px;
  transition: transform .3s ease, stroke-width .3s ease;

  &-clickable {
    stroke: $blanc;
    cursor: pointer;
  }

  &-agrandi {
    stroke-width: 4px;
    stroke: $blanc;
  }

  &-cachee {
    display: none;
  }

  &-traitee {
    stroke: $blanc;
    fill: transparentize($orange, 0.2);
    pointer-events: none;
  }
}

.vignette-danger {
  transition: transform .3s ease, border .3s ease;
  position: absolute;
  border-radius: 50%;
  top: 53px;
  left: calc(50% - 192px);

  &.affichee {
    width: 384px;
    height: 384px;
    border: 24px solid $blanc;
    transform: scale(0.5) translate(0, -100px);
    background-size: 470%;
  }
}

.overlay-zone {
  fill: transparentize($orange, 0.2);
}

.transition-transform {
  transition: transform .3s ease;
}
.transform-scale-1-5 {
  transform: scale(1.5);
}

.overlay-zone-actions-cache {
  transform: translate(0, 100%);
}

.vient-du-bas-enter-active, .vient-du-bas-leave-active {
  transition: transform .3s ease;
}
.vient-du-bas-enter, .vient-du-bas-leave-to {
  transform: translate(0, 100%);
}

.restaure-position-enter, .restaure-position-leave-to {
  transform: translate(0, 0) !important;
}
