@import 'commun/styles/variables.scss';

.overlay-zone-evaluation {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  margin: 0 20px;
}

.overlay-zone-evaluation-action {
  position: relative;
  cursor: pointer;

  &:hover {
    .overlay-zone-action-hover {
      stroke: $couleur-principale-marque-et-interaction;
      stroke-width: 6px;
    }
  }

  .overlay-zone-action-hover {
    fill: none;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}
