@import "commun/styles/variables.scss";

.actions {
  height: 6.5rem;
  background: $couleur-fond-actions;
  padding: 1rem;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
  justify-content: space-between;

  > :nth-child(2) {
    justify-self: center;
  }

  > :last-child {
    justify-self: end;
  }
}
