@use 'commun/styles/variables.scss' as *;
@use 'commun/styles/mixins/boutons.scss';

.overlay-action {
   .bouton-centre-visible {
     @include boutons.bouton-centre(rgba(255, 255, 255, 0.8));
   }

   .bouton-centre-invisible {
      @include boutons.bouton-centre(transparent);
   }

  &-message {
    font-family: $font-quicksand;
    position:absolute;
    top: 7rem;
    text-align: center;
    width: 100%;
    line-height: 6.5rem;
    font-size: 2.25rem;
    font-weight: bold;
  }
}
