@import "commun/styles/variables.scss";

.actions {
  background: $couleur-fond-actions;
  padding: .375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: .75rem;
  font-weight: 400;

  > :nth-child(2) {
    justify-self: center;
  }

  > :last-child {
    justify-self: end;
  }

  .bouton-arrondi {
    line-height: 1;
    padding: 0.3125rem 1rem;
    font-size: .75rem;
  }
}
