@import 'commun/styles/bouton.scss';

.bouton-centre {
  background: rgba(255, 255, 255, 0.8);
  width: 12.25rem;
  height: 12.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6.125rem;
  margin-top: -6.125rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2rem;
    margin-top: -2rem;
    box-sizing: border-box;
  }
}

.bouton-go {
  @include bouton-carre-before($couleur-fond-bouton-bleu, $couleur-fond-bouton-bleu-focus);
}

.bouton-lire-consigne-demarrage {
  @include bouton-carre-before($couleur-fond-bouton-vert, $couleur-fond-bouton-vert-focus);
}

.bouton-lecture-en-cours {
  @include bouton-carre-before($couleur-fond-bouton-vert, $couleur-fond-bouton-vert, $couleur-fond-bouton-vert);
  cursor: default;

  img {
    height: 3.5rem;
  }
}

.bouton-chargement {
  background: transparent;
  @include bouton-carre-before(transparent, transparent, transparent);
  cursor: default;

  img {
    height: 4rem;
  }
}

.bouton-erreur-chargement {
  @include bouton-carre-before($couleur-fond-bouton-rouge, $couleur-fond-bouton-rouge-focus);

  img {
    height: 2rem;
  }
}

.message {
  position:absolute;
  top: 7rem;
  color: $blanc;
  text-align: center;
  width: 100%;
  line-height: 6.5rem;
  font-size: 2.25rem;
  font-weight: bold;
}
