@import 'commun/styles/variables.scss';
@import 'commun/styles/mixins/boutons.scss';

.overlay-action {
   .bouton-centre-visible {
     @include bouton-centre(rgba(255, 255, 255, 0.8));
   }

   .bouton-centre-invisible {
      @include bouton-centre(transparent);
   }

  .overlay-action-message {
    font-family: $font-quicksand;
    position:absolute;
    top: 7rem;
    text-align: center;
    width: 100%;
    line-height: 6.5rem;
    font-size: 2.25rem;
    font-weight: bold;
  }
}
