@import './bouton.scss';

.barre-dev {
  border-top: 1px solid black;
  background-color: gray;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 5px;

  .bouton-go {
    @include bouton($couleur-fond-bouton-violet, $couleur-fond-bouton-violet-focus);
  }

  .bouton-fini {
    @include bouton($couleur-fond-bouton-violet, $couleur-fond-bouton-violet-focus);
  }
}
