@import 'commun/styles/couleurs.scss';

.boite-utilisateur {
  border: 1px solid $vert-clair;
  border-radius: 3rem;
  color: $couleur-texte;
  font-size: 1.125rem;
  overflow: hidden;
  position: relative;

  .progression {
    position: absolute;
    background-color: $vert-clair;
    height: 100%;
    z-index: -1;
  }

  .contenu {
    padding: 1rem;
    display: flex;
  }

  .progression-utilisateur {
    margin-left: 1rem;
  }

  .deconnexion {
    margin-left: 1rem;
    color: $couleur-texte;
  }
}
