@import 'commun/styles/couleurs.scss';

@mixin bouton-arrondi-couleur($couleur, $couleur-focus) {
  background-color: $couleur;

  &:hover,
  &:focus {
    background-color: $couleur-focus;
  }
}

.bouton-arrondi {
  @include bouton-arrondi-couleur($couleur-fond-bouton-bleu, $couleur-fond-bouton-bleu-focus);
  padding: .5rem 2.5rem;
  text-decoration: none;
  border-radius: 2rem;
  cursor: pointer;
  color: $blanc;
  transition: border, background .3s;
  outline: none;
  line-height: 1.8;
  font-size: 1.1rem;
  position: relative;
  transition: background-color .3 ease;

  &:active {
    border-color: $couleur-fond-bouton-bleu;
  }
  &[disabled] {
    background-color: grayscale($couleur-fond-bouton-bleu);
    border-color: grayscale($couleur-fond-bouton-bleu-focus);
    cursor: auto;
  }

  &.bouton-arrondi--petit {
    line-height: 1.1;
    font-size: 0.9rem;
  }

  &-icone {
    position: absolute;
    left: .8rem;
    height: 1.5rem;
    top: calc(50% - .75rem);

    &--droite {
      left: auto;
      right: .8rem;
    }
  }

  &-icone + .bouton-arrondi-texte {
    margin-left: 1rem;
  }

  &-icone--droite + .bouton-arrondi-texte {
    margin-right: 1rem;
    margin-left: 0;
  }

  &-rouge {
    @include bouton-arrondi-couleur($couleur-fond-bouton-rouge, $couleur-fond-bouton-rouge-focus);
  }

  &-vert {
    @include bouton-arrondi-couleur($couleur-fond-bouton-vert, $couleur-fond-bouton-vert-focus);
    color: $couleur-texte;
  }
}
