@import 'commun/styles/couleurs.scss';
@import 'commun/styles/mixins/boutons.scss';

.bouton-lire-consigne {
  @include bouton($couleur-fond-bouton-violet, $couleur-fond-bouton-violet-focus);
  border-radius: 3.125rem;
}

.bouton-lecture-en-cours {
  @include bouton($couleur-fond-bouton-violet, $couleur-fond-bouton-violet, $couleur-fond-bouton-violet, 3.5rem);
  border-radius: 3.125rem;
  cursor: default;
}

.bouton-et-etiquette {
  display: flex;
  align-items: center;

  &.gauche {
    flex-direction: row-reverse;
    text-align: right;
  }

  span {
    text-transform: uppercase;
    color: $couleur-etiquette-bouton;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 7rem;
  }
}
