@import 'commun/styles/couleurs.scss';

@mixin bouton-carre($couleur-fond, $couleur-fond-focus, $couleur-bordure: $blanc) {
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  border: solid 3px $couleur-bordure;
  background-color: $couleur-fond;
  box-shadow: inset 0px 0px 0px 3px $couleur-fond-focus;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $couleur-fond-focus;
  }

  &:active {
    background-color: $couleur-fond;
    border-color: $couleur-fond;
    box-shadow: inset 0px 0px 0px 3px $couleur-fond;
  }

  img {
    position: relative;
    margin: auto;
  }
}

@mixin bouton-carre-before($couleur-fond, $couleur-fond-focus, $couleur-bordure: $blanc) {
  &:before {
    @include bouton-carre($couleur-fond, $couleur-fond-focus, $couleur-bordure);
  }

  &:hover:before {
    background-color: $couleur-fond-focus;
  }

  &:active:before {
    background-color: $couleur-fond;
    border-color: $couleur-fond;
    box-shadow: inset 0px 0px 0px 3px $couleur-fond;
  }

  img {
    position: relative;
    margin: auto;
    height: 1.3rem;
  }

}

.bouton {
  display: block;
  width: 20rem;
  border-radius: .5rem;
  padding: 1.5rem;
  background-color: $couleur-fond-bouton;
  text-decoration: none;

  font-size: 1.125rem;
  font-weight: bold;
  border: solid 2px $couleur-bordure-bouton;
  color: $couleur-principale-bouton;

  &:hover {
    border-color: $couleur-bordure-bouton-focus;
    background-color: $couleur-fond-bouton-focus;
    color: $couleur-texte;
  }

  &:active {
    border-color: $couleur-principale-bouton;
    background-color: $couleur-fond-bouton-focus;
    color: $couleur-principale-bouton;
  }

  i {
    float: right;
    transform: scale(1.5);

  }
}
