@import 'commun/styles/couleurs.scss';

.bouton-arrondi {
  padding: .5rem 2.5rem;
  text-decoration: none;
  border-radius: 2rem;
  cursor: pointer;
  color: $blanc;
  background-color: $couleur-fond-bouton-violet;
  transition: border, background .3s;
  outline: none;
  line-height: 1.3;

  &:active {
    border-color: $couleur-fond-bouton-violet;
  }
  &:hover,
  &:focus {
    background-color: $couleur-fond-bouton-violet-focus;
  }
  &[disabled] {
    background-color: grayscale($couleur-fond-bouton-violet);
    border-color: grayscale($couleur-fond-bouton-violet-focus);
    cursor: auto;
  }
}
