@import 'commun/styles/couleurs.scss';

.bouton-arrondi {
  padding: .5rem 2.5rem;
  text-decoration: none;
  border-radius: 2rem;
  cursor: pointer;
  color: $blanc;
  background-color: $couleur-fond-bouton-bleu;
  transition: border, background .3s;
  outline: none;
  line-height: 1.8;
  font-size: 1.1rem;
  position: relative;

  &:active {
    border-color: $couleur-fond-bouton-bleu;
  }
  &:hover,
  &:focus {
    background-color: $couleur-fond-bouton-bleu-focus;
  }
  &[disabled] {
    background-color: grayscale($couleur-fond-bouton-bleu);
    border-color: grayscale($couleur-fond-bouton-bleu-focus);
    cursor: auto;
  }

  &.bouton-arrondi--petit {
    line-height: 1.1;
    font-size: 0.9rem;
  }

  &-icone {
   position: absolute;
   left: .8rem;
   height: 1.5rem;
   top: .8rem;
  }

  &-icone + .bouton-arrondi-texte {
    margin-left: 1rem;
  }
}
