@import 'commun/styles/variables.scss';
@import 'commun/styles/mixins/boutons.scss';

.bouton-lire-consigne {
  @include bouton($couleur-fond-bouton-bleu, $couleur-fond-bouton-bleu-focus);
}

.bouton-lecture-en-cours {
  @include bouton($couleur-fond-bouton-bleu, $couleur-fond-bouton-bleu, $couleur-fond-bouton-bleu, 3rem);
  cursor: default;
}

.bouton-et-etiquette {
  display: flex;
  align-items: center;

  &.gauche {
    flex-direction: row-reverse;
    text-align: right;
  }

  span {
    color: $couleur-texte;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &.desactivee span {
    opacity: 0.5;
  }

  &:hover {
    .bouton-lire-consigne {
      background-color: $couleur-fond-bouton-bleu-focus;
    }
  }

  &:not(.desactivee) {
    span {
      cursor: pointer;
    }
  }
}

.bouton-lecture {
  display: flex;
  align-items: center;

  .icone-lecture, .icone-pause {
    width: 1.25rem;
  }

  &-texte {
    margin-left: 0.4rem;
    font-size: 0.875rem;
  }

  &--sans-texte {
    padding: 0;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    justify-content: center;
    background-color: $couleur-principale-marque-et-interaction;
  }

  &--pause {
    background-color: $orange !important;
  }
}
