@import 'commun/styles/dimensions.scss';

.scene {
  position: relative;
  width: 100%;
  height: $hauteur-scene;
  background: ivory;
  overflow: hidden;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
