@import 'variables';
@import 'typography';

.champ {
  border: 1px solid $bleu-gris;
  background: $couleur-fond;
  height: 3rem;
  border-radius: 0.5rem;
  color: $bleu;

  &:active, &:hover {
    border-color: darken($bleu-gris, 10%);
  }

  &:focus, &.vs--open {
    border: 3px solid $bleu;
    outline: none; // outline sur des bords arrondis n'est pas suporté par Safari
  }

  &::placeholder {
    color: $bleu-gris-fonce;
    opacity: 0.5;
  }
  &:disabled {
    background-color: $bleu-gris;
  }

  &-texte {
    width: 100%;
    font-weight: normal;
    font-family: $font-work-sans;
    font-size: 1rem;
    padding-left: 0.75rem;
  }

  &-numerique {
    width: 10rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: $font-roboto-mono;
  }

  &-texte-accueil {
    border-radius: .75rem;
    padding: .625rem 1rem;
    font-size: 1.125rem;
    background: white;
    transition: border .3s;
    outline: none;
  }

  &-selection {
    @include typo-s();
    cursor: pointer;
    padding: 0 6px;

    .vs {
      &__dropdown-toggle {
        height: 100%;
        padding: 0;
        border: none;
      }

      &__search::placeholder {
        color: $bleu-gris-fonce;
      }

      &__selected {
        min-height: 2.5rem;
        color: $bleu;
      }
    }

    svg {
      fill: $bleu;
    }
  }

  &-age {
    width: 7rem;
    font-size: 1.5rem;
  }
}

