@use 'commun/styles/variables.scss' as *;
@use 'commun/styles/mixins/boutons.scss';

.bouton-chargement {
  background: transparent;
  @include boutons.bouton(transparent, transparent, transparent);
  cursor: default;

  img {
    height: 4rem;
    width: 4rem;
  }
}
