.actions-fleches.mobile {
  width: 26.25rem;

  .bouton-arrondi {
    padding: 0.375rem 0;
    font-size: .875rem;
  }

  .bouton-arrondi-vert {
    text-align: right;
  }

  .bouton-arrondi-rouge {
    text-align: left;
  }

  .bouton-arrondi-icone--droite + .bouton-arrondi-texte {
    margin-right: 2.875rem;
  }

  .bouton-arrondi-icone--gauche + .bouton-arrondi-texte {
    margin-left: 2.875rem;
  }
}
