@import 'commun/styles/variables.scss';

.zone-cliquable, .reponses {
  width: 1008px;
  height: 566px;
}

.zone-cliquable {
  .curseur {
    display: none;
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
  }

  svg {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .reponses {
    svg {
      top: 0;
      left: 0;
    }
  }
  &--sans-curseur {
    svg > * {
      cursor: pointer;
      transition: all 100ms;
    }

    svg > *:hover {
      fill: white;
      fill-opacity: 0.25;
      stroke: white;
      stroke-opacity: 0.8;
      stroke-width: 3px;
    }

    .reponse--selectionnee {
      fill: $bleu;;
      fill-opacity: 0.25;
      stroke: $bleu;
      stroke-width: 3px;
      position: relative;
    }
  }
}
