@import "commun/styles/couleurs.scss";
@import 'commun/styles/font_awesome.scss';
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700|Work+Sans:400,700&display=swap&subset=latin-ext');

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: url('../assets/fond-footer.svg') center;
  display: flex;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: $couleur-texte;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.lien-source-code {
  position: absolute;
  right: 3.5rem;
  top: 0;
  width: 0;
  height: 5rem;
  padding: 0;
  color: $couleur-bordure-bouton;
  border-left: 1.5rem solid $blanc;
  border-right: 1.5rem solid $blanc;
  border-bottom: 1.5rem solid transparent;
  font-size: 2.3rem;
  transition: height .2s;
  opacity: .7;

  i {
    margin-left: -1.1rem;
    margin-top: 0.7rem;
    transition: margin-top .2s;
  }

  &:hover {
    height: 6rem;

    i {
      margin-top: 1.7rem;
    }
  }
}

button {
  font-size: 1rem;
  font-family: inherit;
  border: 0px;
}

button:hover {
  cursor: pointer;
}
