@import "commun/styles/couleurs.scss";

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: $couleur-fond;
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: $couleur-texte;
}
