@import "commun/styles/couleurs.scss";
@import 'commun/styles/font_awesome.scss';

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: $couleur-fond;
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: $couleur-texte;
}

.lien-source-code {
  position: absolute;
  right: 25px;
  top: 25px;
  color: rgba(22, 76, 146, 0.4);
  &:hover {
    color: rgba(22, 76, 146, 0.5);
  }
}