@import 'commun/styles/variables.scss';

.conteneur-message-aide {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.message-aide {
  width: 24rem;
  margin-right: 0.3rem;
  padding: 1rem 1.25rem;
  border-radius: 1.2rem;
  border: 3px solid $orange;
  background-color: $couleur-fond;
  strong {
    font-size: 1.125rem;
    text-transform: uppercase;
  }
}
.image-aide {
  width: 8.75rem;
  img {
    width: 100%;
  }
}

.fond-consigne {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.overlay.modale {
  .modale-interieur {
    &-message {
      margin-bottom: 3rem;
    }

    .message-aide p {
      margin: 0;
      font-size: 1.125rem;
    }
  }
}
