@import 'commun/styles/mixins/bords_arrondis.scss';
@import 'commun/styles/mixins/conteneur.scss';
@import 'commun/styles/mixins/ombre.scss';

.conteneur {
  @include bords-arrondis;
  @include conteneur;
  @include ombre;
  height: 41.875rem;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
