.conteneur {
  width: 63rem;
  height: 41.875rem;
  margin: auto;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
