// couleurs
$blanc: #ffffff;
$noir: #000000;
$gris: #969696;
$bleu-fonce: #1E416A;
$bleu: #6E84FE;
$rouge: #FD5C54;
$vert-clair: #9ADBD0;
$gris-clair: #DDDDDD;
$orange: #FDAF54;

// branding & style-guide
$couleur-sombre: $bleu-fonce;
$couleur-principale-marque-et-interaction: $bleu;
$couleur-accent-et-erreur: $rouge;
$couleur-legere-accent-et-validation: $vert-clair;
$couleur-clair: $gris-clair;

// général
$couleur-fond: #FBF9FA;
$couleur-texte: $couleur-sombre;

// boutons
$couleur-texte-bouton-retour: #414141;
$couleur-fond-bouton-vert: $vert-clair;
$couleur-fond-bouton-vert-focus: darken($vert-clair, 10%);
$couleur-fond-bouton-bleu: $bleu;
$couleur-fond-bouton-bleu-focus: darken($bleu, 10%);
$couleur-ombre: rgba(0,0,0,0.31);
$couleur-fond-bouton-rouge: $rouge;
$couleur-fond-bouton-rouge-focus: darken($rouge, 10%);
// actions
$couleur-fond-actions: $couleur-fond;

// formulaires
$couleur-bordure-modale-reponse: #cecece;
$couleur-bordure-input: #979797;
$couleur-fond-input: #fafafa;
$couleur-unite: #9c9c9c;
$couleur-reponse-correcte: #00b12a;
$couleur-reponse-incorrecte: $couleur-fond-bouton-rouge;
$couleur-fond-reponse-incorrecte: #ffbebe;
$couleur-bordure-input-accueil: #75c5ff;
$couleur-ombre-input-accueil: #c5c5c5;

//litératie/numeratie
$couleur-fond-module: #EFEEE4;
