// couleurs
$blanc: #ffffff;
$noir: #000000;
$gris: #969696;
$bleu-fonce: #1E416A;
$bleu: #6E84FE;
$rouge: #FD5C54;
$vert: #0C826D;
$vert-clair: #9ADBD0;
$gris-clair: #DDDDDD;
$orange: #FDAF54;
$bleu-gris: #D6DAEC;
// branding & style-guide
$couleur-sombre: $bleu-fonce;
$couleur-principale-marque-et-interaction: $bleu;
$couleur-accent-et-erreur: $rouge;
$couleur-legere-accent-et-validation: $vert-clair;
$couleur-clair: $gris-clair;

// général
$couleur-fond: #fbf9fa;
$couleur-texte: $couleur-sombre;

// boutons
$couleur-texte-bouton-retour: #414141;
$couleur-fond-bouton-vert: $vert-clair;
$couleur-fond-bouton-vert-focus: darken($vert-clair, 10%);
$couleur-fond-bouton-bleu: $bleu;
$couleur-fond-bouton-bleu-focus: darken($bleu, 10%);
$couleur-ombre: rgba(0, 0, 0, 0.31);
$couleur-fond-bouton-rouge: $rouge;
$couleur-fond-bouton-rouge-focus: darken($rouge, 10%);
$couleur-fond-bouton-orange: $orange;
$couleur-fond-bouton-orange-focus: darken($orange, 10%);
// actions
$couleur-fond-actions: $couleur-fond;

// formulaires
$couleur-bordure-modale-reponse: #cecece;
$couleur-bordure-input: #979797;
$couleur-fond-input: #fafafa;
$couleur-unite: #9c9c9c;
$couleur-reponse-correcte: #00b12a;
$couleur-reponse-incorrecte: $couleur-fond-bouton-rouge;
$couleur-fond-reponse-incorrecte: #ffbebe;

//litératie/numeratie
$couleur-fond-module: #efeee4;

//app objets trouvés
$couleur-app-photos: #fe6e91;
$couleur-app-agenda: #4ed7e0;
$couleur-app-repondeur: #5b7dd3;
$couleur-app-notes: #fecd6e;
$couleur-app-messages: #63d7ad;
