// général
$couleur-fond: #e1edf3;
$couleur-texte: #001c36;
$blanc: #ffffff;

// boutons
$couleur-principale-bouton: #0060b7;
$couleur-fond-bouton: #f5fcff;
$couleur-fond-bouton-focus: #ffffff;
$couleur-bordure-bouton: #a6d4ff;
$couleur-bordure-bouton-focus: #047be7;

$couleur-fond-bouton-vert: #129F46;
$couleur-fond-bouton-vert-focus: #0B8538;

$couleur-fond-bouton-bleu: #12AFFF;
$couleur-fond-bouton-bleu-focus: #0996DF;

// actions
$couleur-fond-actions: #ebebeb;
