@import 'commun/styles/couleurs.scss';

.overlay.modale .modale-interieur {

  h2, .contenu, button {
    margin-bottom: 1rem;
  }

  .message-fin {
    max-width: 62%;
  }

  .competences-fortes {
    display: flex;

    &-nom {
      color: $violet;
    }
    &-description {
      font-size: 1rem;
      width: 34rem;
    }
    img {
      margin: 2rem;
      width: 10rem;
    }
  }
}
