@import 'commun/styles/couleurs.scss';

.overlay.modale .modale-interieur {

  h2, .contenu, button {
    margin-bottom: 1rem;
  }

  .message-fin {
    max-width: 62%;
  }

  .competences-fortes {
    display: flex;

    &-lien {
      font-size: 1rem;
      color: $couleur-principale-marque-et-interaction;
      text-decoration: none;
    }

    &-lien:hover {
      text-decoration: underline;
    }

    &-nom {
      color: $couleur-principale-marque-et-interaction;
    }
    &-description {
      font-size: 1rem;
      width: 34rem;
    }
    img {
      margin: 2rem;
      width: 10rem;
    }
  }
}
