@import 'commun/styles/variables.scss';

@keyframes grossit-bouton {
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.actions-fleches {
  background-color: $couleur-fond;
  position: absolute;
  padding: 1.5rem;
  display: flex;
  width: 60%;
  line-height: normal;

  &.clavier {
    padding: 0.5rem;
    width: 42%;
  }

  > button {
    flex: 50%;
    margin: 0 0.5rem;
  }

  &--animation {
    animation: grossit-bouton 0.3s;
  }

  .touches-verticales {
    display: flex;
    flex-direction: column;
    justify-content: end;
    svg {
      rect,
      path {
        stroke: $bleu-gris;
      }
    }

    .touche:first-child {
      margin-bottom: 0.125rem;
    }
  }

  .touches-horizontales {
    flex: 50%;
    margin: 0 0.125rem;
    position: relative;
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    align-items: flex-end;

    &.touche-gauche {
      justify-content: flex-end;
    }
  }
}
