@import 'commun/styles/couleurs.scss';
@import 'commun/styles/dimensions.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.question {
  background-color: $couleur-fond-module;
  display: flex;
  align-items: center;

  &-illustration {
    height: $hauteur-scene;
  }

  &-barre {
    display: flex;
    flex-direction: column;
    background-color: $blanc;
    border-radius: 1rem;
    padding: 1.5rem;
    position: absolute;
    right: 5rem;
    width: 300px;
    min-height: 417px;
    font-size: 0.875rem;
  }

  &-entete {
    p {
      margin: 0;
    }
    p + p {
      margin-top: 20px;
    }
  }

  &-contenu {
    flex-grow: 2;
    margin-top: 0.5rem;
  }

  &-choix {
    margin-top: 1rem;
  }

  &-label {
    display: flex;
    align-items: center;
  }

  &-input {
    margin: 0;
    flex-shrink: 0;
  }

  &-reponse-intitule {
    margin-left: 1rem;
    cursor: pointer;
  }

  &-bouton {
    align-self: flex-end;
    float: right;
    margin-top: 1rem;
  }

  &-intitule {
    color: $couleur-fond-bouton-bleu;
  }

  .numerique-input-conteneur {
    position: relative;
    .conteneur-traits-saisie {
      position: absolute;
      left: 1.8rem;
      bottom: 0.6rem;
      font-size: 0;
      span {
        display: inline-block;
        width: 1.5rem;
        height: 1px;
        background-color: $bleu;
      }
    }

    .numerique-input {
      width: 10rem;
      height: 3rem;
      padding-left: 2rem;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: 'Roboto Mono', monospace;
      border-radius: 1rem;
      border: 1px solid $bleu-gris;
      color: $bleu;
      background: $couleur-fond;
    }
  }

  .chiffres-espaces {
    .conteneur-traits-saisie {
      span {
        margin-right: 0.8rem;
      }
    }

    .numerique-input {
      width: 12rem;
      letter-spacing: 1.39rem;
    }
  }
}
