@import 'commun/styles/variables.scss';
@import 'commun/styles/dimensions.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.question {
  background-color: $couleur-fond-module;
  display: flex;
  align-items: center;

  &-illustration {
    height: $hauteur-scene;
  }

  &-barre {
    display: flex;
    flex-direction: column;
    background-color: $blanc;
    border-radius: 1rem;
    padding: 1.5rem;
    position: absolute;
    right: 5rem;
    width: 300px;
    min-height: 417px;
    font-size: 0.875rem;
  }

  &-entete {
    display: flex;

    .entete-audio {
      margin-right: 1rem;
    }

    p {
      margin: 0;
    }

    p + p {
      margin-top: 20px;
    }

    .question-avec-son {
      position: absolute;
      top: -1rem;
      left: 1.1875rem;
    }

    svg {
      vertical-align: middle;
    }
  }

  &-contenu {
    flex-grow: 2;
    margin-top: 0.5rem;
  }

  &-reponse {
    margin-top: 1rem;
    .bouton-lecture {
      margin-right: 1rem;
    }
  }

  &-reponse-multiple {
    display: flex;
    align-items: center;
  }

  &-label {
    display: flex;
    align-items: center;
  }

  &-input {
    margin: 0;
    flex-shrink: 0;
  }

  &-reponse-intitule {
    display: flex;
    margin-left: 1rem;
    cursor: pointer;
  }

  &-bouton {
    align-self: flex-end;
    float: right;
    margin-top: 1rem;
  }

  &-intitule {
    color: $couleur-fond-bouton-bleu;
  }
}
