@import 'commun/styles/variables.scss';

.glisser-deposer {
  .glisser-deposer__item {
    cursor: grab;
    &.sortable-chosen {
      cursor: grabbing;
    }
  }

  .zone-depot {
    z-index: 1;
  }

  .container-depart .zone-depot {
    padding: 1.5rem;
    background: $couleur-fond;
    border-radius: 1rem;
  }

  &.glisser-deposer--horizontal,
  &.glisser-deposer--vertical {
    .container-depart .zone-depot {
      background: none;
      border-radius: 0;
    }
  }

  &.glisser-deposer--vertical {
    .container-depart .zone-depot {
      padding: 0;
    }
  }

  &.glisser-deposer--horizontal {
    .container-depart .zone-depot {
      padding: 0 0 1rem 0;
    }
  }

  .glisser-deposer__placeholder {
    background: $bleu-gris;
    border: 1px solid $couleur-fond;
    box-shadow: inset 0px 0px 8px rgba(30, 65, 106, 0.25);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 0.75rem;
    font-weight: 600;
    color: $bleu-gris-fonce;
    // pour s'assurer que la zone de dépôt se mette toujours en desnière position dans la div
    order: 100;
    flex: 1; /* Permet de s'adapter à l'espace disponible */
    min-width: 0; /* IMPORTANT : Permet à l'élément de se rétrécir en flexbox */
    overflow: hidden;
  }
}
