@import 'commun/styles/bouton.scss';

.bouton-centre {
  background: rgba(255, 255, 255, 0.8);
  width: 12.25rem;
  height: 12.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6.125rem;
  margin-top: -6.125rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2rem;
    margin-top: -2rem;
    box-sizing: border-box;
  }
}

.bouton-go {
  @include bouton-carre-before($couleur-fond-bouton-bleu, $couleur-fond-bouton-bleu-focus);
}

.bouton-lire-consigne-demarrage {
  @include bouton-carre-before($couleur-fond-bouton-vert, $couleur-fond-bouton-vert-focus);
}
