@import 'commun/styles/couleurs.scss';

@mixin jaugeThumb {
  width: 1.5rem;
  height: 1.5rem;
  margin: -0.3rem 0 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: $bleu;
}

@mixin jaugeTrack {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  background: $bleu-gris;
}

.jauge-conteneur {
  display: flex;
  height: 14.5rem;
}

.jauge {
  position: relative;
  input {
    width: 16px;
    height: 100%;
    outline: none;
    appearance: none;
    border-radius: 0.5rem;
    margin: 0 1.875rem 0 0;
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include jaugeThumb;
    }

    &::-moz-range-thumb {
      @include jaugeThumb;
    }

    &::-ms-thumb {
      @include jaugeThumb;
    }

    // Track
    &::-webkit-slider-runnable-track {
      @include jaugeTrack;
    }

    &::-moz-range-track {
      @include jaugeTrack;
    }

    &::-ms-track {
      @include jaugeTrack;
    }

    &:focus {
      outline: none;
      background: none;
    }
  }

  &-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0;
    position: relative;
    list-style: none;

    .label {
      position: relative;
      font-size: 14px;
      cursor: pointer;
      color: $bleu-fonce;

      &::before {
        content: '';
        width: 8px;
        height: 1px;
        position: absolute;
        left: -2.6rem;
        top: 0.5rem;
        background: $bleu-gris-fonce;
      }

      &.selected {
        color: $bleu;
        font-weight: bold;
      }

      &.selected::before {
        display: none;
      }
    }
  }
}
