@import 'commun/styles/couleurs.scss';

.overlay {

  &.attendre {
    cursor: wait;

    button {
      cursor: wait;
    }

    label {
      cursor: wait;
    }
  }

  &.modale {
    background: rgba(255, 255, 255, .9);
    padding: 3%;

    &.centrage-horizontal {
      flex-direction: column;
      padding: 5%;
    }

    .modale-interieur {
      max-width: 70%;

      > * {
        margin-bottom: 3rem;
      }

      h2 {
        margin-bottom: 0.44rem;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .buttons {
      button {
        margin-right: 1.875rem;
      }
    }
  }
}

.icone-description {
  display: flex;
  align-items: center;

  &-icone {
    margin-right: 2rem;
    flex-shrink: 0;
  }
  &-titre {
    position: relative;
    right: -0.5rem;
    top: 0.3rem;
  }
}
