@import 'commun/styles/dimensions.scss';

.overlay {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  display: flex;
  align-items: center;
  transition: opacity .3s;

  &.opaque {
    background: white;
  }

  &.hors-actions {
    height: $hauteur-scene;
  }

  h2.titre-avec-illustration {
    display: flex;
    align-items: center;

    svg {
      margin-right: 1.375rem;
    }

    .etiquette-titre {
      width: 35rem;
    }
  }

  &-recommandation {
    margin-top: 1rem;
    font-weight: 600;
  }
}
