@import 'commun/styles/dimensions.scss';

.overlay {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  display: flex;
  align-items: center;
  transition: opacity .3s;

  &.opaque {
    background: white;
  }

  &.hors-actions {
    height: $hauteur-scene;
  }
}
