@import 'commun/styles/couleurs.scss';

.question-progression {
  position: absolute;
  top: -0.3rem;
  right: -0.5rem;
  background: $couleur-sombre;
  border-radius: 1rem;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  color: #fff;
  font-size: 0.9rem;
}
