@import 'commun/styles/variables.scss';

@keyframes son1 {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
}
@keyframes son2 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
.selectionne {
  circle {
    fill: $bleu-fonce;
  }
}
.enTrainDeJouer {
  .son1 {
    animation: 1.5s 0s ease infinite son1;
  }
  .son2 {
    animation: 1.5s 0s ease infinite son2;
  }
}
