@import 'commun/styles/couleurs.scss';

.message-fin {
  position:absolute;
  bottom: 2rem;
  color: $blanc;
  text-align: center;
  width: 100%;
  font-size: 2.25rem;
  font-weight: bold;

  p {
    margin: 0;
  }
}
