@import 'commun/styles/bouton.scss';

$couleur-fond-bouton-rouge: #DE0B27;
$couleur-fond-bouton-rouge-focus: #C2001A;

.bouton-stop {
  @include bouton-carre($couleur-fond-bouton-rouge, $couleur-fond-bouton-rouge-focus);

  img {
    height: .875rem;
  }
}
