@import 'commun/styles/bouton.scss';
@import 'commun/styles/couleurs.scss';

.bouton-stop {
  @include bouton-carre($couleur-fond-bouton-rouge, $couleur-fond-bouton-rouge-focus);

  img {
    height: .875rem;
  }
}
