@mixin bouton($couleur-fond, $couleur-fond-focus, $couleur-bordure: $blanc, $hauteur-image: 1.3rem) {
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  background-color: $couleur-fond;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $couleur-fond-focus;
  }

  &:active {
    background-color: $couleur-fond;
    border-color: $couleur-fond;
    box-shadow: inset 0px 0px 0px 3px $couleur-fond;
  }

  &[disabled] {
    opacity: .5;
    background-color: $couleur-fond;
    cursor: default;
  }

  img {
    position: relative;
    margin: auto;
    height: $hauteur-image;
  }
}

@mixin bouton-allonge($couleur-fond, $couleur-texte) {
  background: $couleur-fond;
  color: $couleur-texte;
  padding: .7rem 1.375rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .025rem;
  outline: none;
  transition : background 200ms ease-out;
}

@mixin bouton-modale($couleur-fond, $couleur-texte, $couleur-focus) {
  @include bouton-allonge($couleur-fond, $couleur-texte);
  padding: .7rem 2.375rem;
  font-weight: normal;
  &:hover { background-color: $couleur-focus }
}


@mixin bouton-centre($background) {
  background: $background;
  width: 12.25rem;
  height: 12.25rem;
  position: absolute;
  left: 50%;
  top: 60%;
  margin-left: -6.125rem;
  margin-top: -6.125rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
