@mixin bouton($couleur-fond, $couleur-fond-focus, $couleur-bordure: $blanc, $hauteur-image: 1rem) {
  border-radius: 3.125rem;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  background-color: $couleur-fond;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $couleur-fond-focus;
  }

  &:active {
    background-color: $couleur-fond;
    border-color: $couleur-fond;
    box-shadow: inset 0px 0px 0px 3px $couleur-fond;
  }

  &[disabled] {
    opacity: .5;
    background-color: $couleur-fond;
    cursor: default;
  }

  img {
    position: relative;
    margin: auto;
    height: $hauteur-image;
  }

  svg {
    margin: auto;
    height: $hauteur-image;
  }
}

@mixin bouton-centre($background) {
  background: $background;
  width: 12.25rem;
  height: 12.25rem;
  position: absolute;
  left: 50%;
  top: 60%;
  margin-left: -6.125rem;
  margin-top: -6.125rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
