@import 'commun/styles/commun.scss';
@import 'commun/styles/conteneur.scss';

.scene.controle {
  background-image: url('../assets/fond-situation.png') ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
