@import 'commun/styles/couleurs.scss';
@import 'commun/styles/mixins/boutons.scss';
@import 'commun/styles/dimensions.scss';
@import 'commun/styles/mixins/bords_arrondis.scss';

.scene-compte-rendu {
  background-color: $couleur-fond-module;
  .illustration {
    border-radius: 2rem;
    width: 718px;
    height: $hauteur-scene;
    left: 216px;
    top: 194px;
  }
}

.messagerie, .question {
  background-color: $blanc;
  border-radius: 2rem;
  padding: 1.25rem 1.875rem;
  top: 1.25rem;
  right: 1.25rem;
  position: absolute;
  width: 295px;
  font-size: 0.875rem;
  p {
    margin-top: 0;
  }
  &-sujet {
    margin-bottom: 3px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
  }
  &-expediteur {
    margin-bottom: 1.25rem;
    font-size: 0.75rem;
    color: $gris;
  }
  &-objet-reponse {
    margin-bottom: 0;
    padding: 0.937rem 0 1.25rem;
    border-top: 1px solid #eeeeee;
    color: $couleur-fond-bouton-terminer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
  }
}

.message-catherine-jean {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.875rem;
  padding: 0 0.937rem;
}

#reponse-compte-rendu {
  width: 100%;
  height: 184px;
  padding: 0.75rem;
  text-align: left;
  resize: none;
  border: 1px solid $gris-clair;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  &::placeholder {
    color: $gris;
  }
}

.bouton-reponse {
  float: right;
  margin-top: 0.625rem;
  font-size: 0.7rem;
}
