$primary-color: #2e878a;

body {
  color: $primary-color;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0
}

#magasin {
  position: absolute;
  height: 100%;
  width: 100%;
}

.invisible {
  display: none;
}
