.etageres {

  .contenu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
  }

  .caisse {
    position: absolute;
    left: 33.33%;
    top: 33.33%;
    width: 20rem;
    height: 18rem;

    .interieur {
      position: absolute;
      left: 3rem;
      top: 5.5rem;
      width: 14rem;
      height: 7rem;
      img {
        max-height: 50%;
        padding-left: 0.2rem;
      }
    }
  }

  .marron {
    background: url('../images/carton.png') no-repeat center/contain;
  }

  .bleu {
    background: url('../images/boite_bleue.png') no-repeat center/contain;
  }

  .jaune {
    background: url('../images/boite_jaune.png') no-repeat center/contain;
  }

  .gris {
    background: url('../images/boite_grise.png') no-repeat center/contain;
  }

  .rouge {
    background: url('../images/boite_rouge.png') no-repeat center/contain;
  }

  .vert {
    background: url('../images/boite_verte.png') no-repeat center/contain;
  }

  .etiquette {
    position: absolute;
    left: 33.33%;
    top: 33.33%;
    width: 33.33%;
    height: 10rem;
    color: black;
    background: url('../images/etiquette.png') no-repeat center/contain;
    font-size: 1.4rem;

    .type, .quantite {
      position: absolute;
      left: 0;
      width:100%;
      text-align: center;
    }

    .type {
      top: 33%;
    }

    .quantite {
      top: 55%;
    }
  }
}
