.etageres {

  .contenu {
    transition: transform .2s;
  }

  .contenu.fermer {
    transition-timing-function: ease-in;
    transform: scale(1,1);
  }

  .contenu.ouvrir {
    transition-timing-function: ease-out;
    transform: scale(2,2);
  }

  .calque {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .caisse {
    position: absolute;
    background: no-repeat center/contain;

    .interieur {
      position: absolute;
      top: 30%;
      left: 16%;
      width: 71%;
      height: 40%;
      .bouteille {
        max-height: 49%;
        padding-left: 0.1rem;
      }
    }
  }

  .etiquette {
    position: absolute;
    color: black;
    background: url('../images/etiquette.png') no-repeat center/contain;
    font-size: 0.7rem;

    .type, .quantite {
      position: absolute;
      left: 0;
      width:100%;
      text-align: center;
    }

    .type {
      top: 33%;
    }

    .quantite {
      top: 55%;
    }
  }
}
