.etageres {

  .contenu {
    // Attention de maintenir la cohérence avec DELAY_FERMETURE_CONTENANT_MILLISEC
    transition: transform .4s;
    z-index: 100;
  }

  .contenu.fermer {
    transition-timing-function: ease-in;
    transform: scale(1,1);
  }

  .contenu.ouvrir {
    transition-timing-function: ease-out;
    transform: scale(2,2);
  }

  .calque {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 101;
    cursor: pointer;
  }

  .caisse {
    position: absolute;

    .interieur {
      position: absolute;
      top: 30%;
      left: 16%;
      width: 71%;
      height: 40%;
      .bouteille {
        max-height: 49%;
        padding-left: 0.1rem;
      }
    }
  }

  .marron {
    background: url('../images/carton.png') no-repeat center/contain;
  }

  .bleu {
    background: url('../images/boite_bleue.png') no-repeat center/contain;
  }

  .jaune {
    background: url('../images/boite_jaune.png') no-repeat center/contain;
  }

  .gris {
    background: url('../images/boite_grise.png') no-repeat center/contain;
  }

  .rouge {
    background: url('../images/boite_rouge.png') no-repeat center/contain;
  }

  .vert {
    background: url('../images/boite_verte.png') no-repeat center/contain;
  }

  .etiquette {
    position: absolute;
    color: black;
    background: url('../images/etiquette.png') no-repeat center/contain;
    font-size: 0.7rem;

    .type, .quantite {
      position: absolute;
      left: 0;
      width:100%;
      text-align: center;
    }

    .type {
      top: 33%;
    }

    .quantite {
      top: 55%;
    }
  }
}
