.etageres {
  position: relative;

  .contenants {
    position:absolute;
    top: 0;
    left: 0;
  }

  img {
    max-height: 94%;
    max-width: 99%;
  }

  .contenant {
    position: absolute;
    cursor: pointer;
  }
}
