.etageres {
  position: relative;
  height: 100%;
  margin: 2%;

  .contenants {
    position:absolute;
    top: 0;
    left: 0;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }

  .contenant {
    position: absolute;
    cursor: pointer;
  }
}
