.affiche-saisie {
  position: absolute;
  top: 1.5rem;
  left: 18.8rem;
  padding: 0.7rem;
  background-color: teal;
  color: white;
}

.affiche-saisie:hover {
  cursor: pointer;
}

.formulaire-saisie-inventaire {
  position: absolute;
  top: 15vh;
  left: 33vw;
  background: ivory;
  border: solid black 1px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 0.7em;
    color: black;
  }

  li:nth-child(odd) {
    background: gainsboro;
  }

  label {
    display: inline-block;
    width: 10rem;
  }

  input {
    width: 4rem;
    height: 1.2rem;
  }
}
