@import 'commun/styles/couleurs.scss';

.fenetre-aide-presentation {
  top: 20%;
  right: 3%;
  width: 40%;

  .fenetre-aide-presentation-bouton {
    margin-top: 1rem;
  }
}

.aide-activee {
  background: $vert-clair;
  color: $blanc;
  padding: .7rem 1.375rem;
  border-radius: 3.125rem;
  position: absolute;
  top: 17%;
  right: 3%;
}
