@import 'commun/styles/couleurs';

.fenetre-zone {
  position: absolute;
  background-color: $blanc;
  padding: 15px 30px;
  border-radius: 1rem;

  .qualification-input {
    padding-bottom: .5rem;
  }
}
