@import 'commun/styles/couleurs';

.resultat-identification {
  &-reponse {
    padding: 1rem;
    display: grid;
    grid-template-columns: 12rem auto;
    grid-gap: 1rem;
    align-items: center;
  }

  &-message {
    color: $bleu-fonce;
  }
}
