@import 'commun/styles/couleurs';

.fond-situation {
  height: 100%;
}

.zone {
  fill: transparent;

  &-selectionnee, &-qualifiee {
    stroke: $couleur-accent-et-erreur;
    stroke-width: 6px;
  }
}
