@import 'commun/styles/couleurs.scss';

.fond-situation {
  height: 100%;
}

.zone {
  fill: transparent;

  &-selectionnee, &-qualifiee {
    stroke: $couleur-accent-et-erreur;
    stroke-width: 6px;
  }

  &-aide {
    cursor: pointer;
  }
}

.compteur-statut {
  position: absolute;
  top: 3%;
  right: 3%;
  border-radius: 1rem;
  background-color: $blanc;
  padding: 1rem;
  color: $couleur-sombre;
}
