@import 'commun/styles/variables.scss';

@mixin jaugeTrack {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  background: $bleu-gris;
}

.jauge-conteneur {
  display: flex;
  position: relative;
  margin-top: 1.5rem;

  .curseur {
    position: absolute;
    pointer-events: none;
    margin: -0.3rem 0 0;
    border-radius: 50%;
    border: none;
    z-index: 3;
    cursor: pointer;
    background: $bleu;
  }
}

.jauge {
  position: absolute;
  left: 3rem;
  height: 100%;
  z-index: 1;

  input {
    height: 100%;
    outline: none;
    border-radius: 0.5rem;
    margin: 0 1.875rem 0 0;
    -webkit-appearance: slider-vertical;

    // Track
    &::-webkit-slider-runnable-track {
      @include jaugeTrack;
    }

    &::-moz-range-track {
      @include jaugeTrack;
    }

    &::-ms-track {
      @include jaugeTrack;
    }

    &:focus {
      outline: none;
      background: none;
    }
  }

  &-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0;
    position: relative;
    list-style: none;

    .label {
      position: relative;
      font-size: 0.875rem;
      cursor: pointer;
      color: $bleu-fonce;
      display: flex;

      .bouton-lecture {
        height: 1.25rem;
      }

      &::before {
        content: '';
        width: 0.5rem;
        height: 1px;
        z-index: 2;
        position: absolute;
        left: calc(3rem + 4px);
        top: 0.5rem;
        background: $bleu-gris-fonce;
      }

      &.selected {
        color: $bleu;
        font-weight: 600;
      }

      &-libelle {
        margin-left: 4.25rem;
      }
    }
  }
}
