@import 'commun/styles/couleurs.scss';

.fond-situation {
  display: flex;
  height: 100%;
}

.question-barre {
  min-height: 417px;
}

.telephone-conteneur {
  width: 262px;
  height: 481px;
  position: absolute;
  left: 10.3rem;
  top: 2.4rem;
  font-family: 'Quicksand', sans-serif;
}

.heure {
  position: absolute;
  color: $vert-clair;
  font-size: 64px;
  left: 50%;
  top: 5rem;
  transform: translateX(-50%);
}

.icones-conteneur {
  width: 100%;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.icones {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  &:first-of-type {
    padding: 0.5rem;
    .icone {
      margin-right: 0.5rem;
      margin-top: 0.5rem;
    }
  }
  .icone {
    cursor: pointer;
    text-align: center;
    &:before {
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      background: $couleur-fond-bouton-bleu;
      border-radius: 16px;
    }
    &:hover:before {
      background: $couleur-fond-bouton-bleu-focus;
    }
    &--desactivee {
      pointer-events: none;
      &:before {
        opacity: 0.2;
      }
    }
    .label {
      margin: 0.3rem 0 0;
      font-size: 12px;
    }
  }
}
