@import 'commun/styles/couleurs.scss';

.fond-situation {
  display: flex;
  height: 100%;
}

.question-barre {
  &.accueil {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }

  &.transition {
    flex-wrap: wrap;
    > div {
      display: flex;
      flex-grow: 2;
      flex-direction: column;
      justify-content: center;
    }
    .bouton-arrondi {
      align-self: flex-end;
    }
  }
}

.telephone-conteneur {
  width: 245px;
  height: 464px;
  position: absolute;
  left: 11.15rem;
  top: 2.9rem;
  font-family: 'Quicksand', sans-serif;
  border-radius: 12px;
  &--fond {
    background: linear-gradient(180deg, rgba($couleur-sombre, 0) 0%, $couleur-fond 150%);
  }
}

.heure {
  position: absolute;
  color: $couleur-fond;
  font-size: 64px;
  left: 50%;
  top: 5rem;
  transform: translateX(-50%);
  text-shadow: 0px 0px 8px rgba($couleur-sombre, 0.5);
  z-index: 2;
}

.icones-conteneur {
  width: 100%;
  padding: 0 0.5rem;
  position: absolute;
  bottom: 2rem;
  left: 0;
  z-index: 2;
  &--deverrouiller {
    bottom: 0.5rem;
    .icones {
      justify-content: center;
      color: $blanc;
    }
  }
}

.ecran-verrouille-conteneur {
  height: 100%;
  position: relative;
  z-index: 1;
  &:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.75;
    border-radius: 12px;
    background: $bleu-fonce;
  }
}

.indice {
  width: 14rem;
  height: 4.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  left: 0.68rem;
  top: 11.62rem;
  text-align: center;
  font-size: 0.75rem;
  border-radius: 1rem;
  color: $bleu-fonce;
  background-color: $couleur-fond;
  &-titre {
    font-size: 1.06rem;
    font-weight: 500;
  }
  &-texte {
    margin: 0.5rem 0 0 0;
    font-size: 0.75rem;
  }
}

.icones {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  &:first-of-type {
    padding: 0.5rem;
    .icone:not(.icone--deverrouillage) {
      margin: 0.5rem 0.25rem 0;
    }
  }
}

.icone {
  cursor: pointer;
  text-align: center;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.4s ease;
  &--photos {
    background-color: $couleur-app-photos;
    &:hover {
      background-color: darken($couleur-app-photos, 10%);
    }
  }
  &--agenda {
    background-color: $couleur-app-agenda;
    &:hover {
      background-color: darken($couleur-app-agenda, 10%);
    }
  }
  &--repondeur {
    background-color: $couleur-app-repondeur;
    &:hover {
      background-color: darken($couleur-app-repondeur, 10%);
    }
  }
  &--notes {
    background-color: $couleur-app-notes;
    &:hover {
      background-color: darken($couleur-app-notes, 10%);
    }
  }
  &--messages {
    background-color: $couleur-app-messages;
    &:hover {
      background-color: darken($couleur-app-messages, 10%);
    }
  }
  &--deverrouillage {
    background-color: $bleu;
    &:hover {
      background-color: darken($bleu, 10%);
    }
  }
  &--deverrouillee {
    pointer-events: none;
  }
  &--desactivee {
    pointer-events: none;
    .icone {
      background-color: $gris-clair;
    }
  }
  + .label {
    margin: 0.3rem 0 0;
    font-size: 12px;
  }
  &-conteneur {
    position: absolute;
    top: 4.7rem;
    right: 24.5rem;
    text-align: center;
    color: $blanc;
    pointer-events: none;
  }
}
