.telephone-conteneur {
  .bouton-lecture-conteneur {
    left: 12.125rem;
    position: absolute;

    &--heure-bureau-mickael {
      top: 6.5rem;
    }

    &--nombre-tours-de-manege {
      top: 11.25rem;
    }
  }
}
