.telephone-conteneur {
  .bouton-lecture {
    button {
      padding: 0;
      position: absolute;
      right: 28px;
      background: none;
    }
    &--heure-bureau-mickael {
      button {
        top: 104px;
      }
    }
  }
}
