@import 'commun/styles/commun.scss';
@import 'commun/styles/conteneur.scss';
@import 'inventaire/styles/etageres.scss';

.cadre.magasin {
  background-image: url('../assets/fond-situation.png') ;
  background-repeat: repeat-x;
  background-size: contain;
}
