$primary-color: #2e878a;

body {
  color: $primary-color;
  padding: 0;
  margin: 0

}

#magasin {

  h1 {
    height: 10%;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
  }

  .ligne-principale {
    position: absolute;
    height:90%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
