.etageres {

  .contenu {
    // Attention de maintenir la cohérence avec DELAY_FERMETURE_CONTENANT_MILLISEC
    transition: transform .4s;
    z-index: 100;
    position: absolute;
  }

  .contenu.fermer {
    transition-timing-function: ease-in;
    transform: scale(.5);
  }

  .contenu.ouvrir {
    transition-timing-function: ease-out;
    transform: scale(1);
  }

  .calque {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 101;
    cursor: pointer;
  }
}
