.etageres {
  position: relative;
  height: 96%;
  margin: 2%;

  .contenants {
    position:absolute;
    top: 0;
    left: 0;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }

  .contenant {
    position: absolute;
    cursor: pointer;
  }

  .barres {
    position: absolute;
    top:6%;
    height: 93%;
  }

  .barre-1 {
    left:3%;
  }
  .barre-2 {
    left:33%;
  }
  .barre-3 {
    left:65%;
  }
}
