@import 'commun/styles/couleurs.scss';

.affiche-saisie {
  cursor: pointer;
  position: absolute;
  height: 10%;
  top: 47%;
  right: 3.5%;
  background-color: $blanc;
  width: 13%;
  border: 8px solid $couleur-fond-bouton-bleu;
  border-radius: 13px;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0px 6px 10px $couleur-ombre;
}

.formulaire-saisie-inventaire {
  position: absolute;
  top: 0;
  left: 33%;
  background: white;
  border: solid black 1px;

  li {
    padding: 0 0.7em 1em;
    color: black;
  }

  li:nth-child(odd) {
    background: gainsboro;
  }

  li:nth-child(even) {
    background: ivory;
  }

  .image-produit {
    display: inline-block;
    position: relative;
    margin: 0 0.5rem 0 0.5rem;
    top: 0.5rem;
    width: 1.2rem;
    height: 2.6rem;
    background: no-repeat center/contain;
  }

  label {
    display: inline-block;
    width: 9rem;
  }

  input {
    width: 4rem;
    height: 1.2rem;
  }

  .validation-inventaire {
    border-top: solid black 1px;

    .valide-saisie {
      position: relative;
      margin: 0.7rem 0.7rem 0.7rem 4rem;
      padding: 0.7rem;
      background: teal;
      color: white;
    }
  }

  .reponse-correcte {
    color: green;
  }

  .reponse-incorrecte {
    color: red;
  }
}
