@import 'commun/styles/couleurs.scss';
@import 'commun/styles/mixins/boutons.scss';

.affiche-saisie {
  position: absolute;
  background: $blanc;
  outline: none;
  bottom: 12%;
  right: 15.3%;
  border: .5rem solid $couleur-fond-bouton-bleu;
  border-radius: .75rem;
  font-size: 1rem;
  box-shadow: 0 .5rem .625rem 0 $couleur-ombre;
  padding: 0rem;

  &:hover {
    border-color: $couleur-fond-bouton-bleu-focus;
  }
}

.formulaire-saisie-inventaire {
  background: $blanc;
  width: 85%;
  margin: auto;
  border-radius: 1.5rem;
  padding: 2.75rem 2rem;
  position: relative;

  ul {
    columns: 2;
  }

  li {
    display: flex;
    align-items: center;

    &:nth-child(1n + 5) {
      label {
        flex: initial;
      }
    }
  }

  .image-produit {
    height: 2.5rem;
    width: 5rem;
    text-align: center;

    img {
      max-height: 100%;
    }

    .grandeBouteille {
      transform: scale(1.5);
    }

  }

  label {
    display: inline-block;
    width: 9rem;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: right;
    width: 8.7rem;
    flex: 1;
  }

  input {
    width: 6.3rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    box-shadow: inset 0 .0625rem .1875rem 0 rgba(0, 0, 0, 0.5);
    border: solid .0625rem $couleur-bordure-input;
    background-color: $couleur-fond-input;
    margin: 1.25rem 0 1.25rem 1.25rem;
    font-size: 1.125rem;
    padding: .625rem .5rem;
  }

  .validation-inventaire {
    text-align: right;
    margin-top: 2rem;
  }

  .saisie {
    position: relative;

    .unite {
      position: absolute;
      top: 50%;
      right: 0.4rem;
      transform: translateY(-50%);
      color: $couleur-unite;
    }
  }

  .reponse-correcte {
    border-color: $couleur-reponse-correcte;
  }

  .reponse-incorrecte {
    border-color: $couleur-reponse-incorrecte;
    background-color: $couleur-fond-reponse-incorrecte;
  }

  .marque-correcte {
    position: absolute;
    top: 50%;
    right: -5.2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: $couleur-reponse-correcte;
  }
}

.croix-retour-stock {
  position: absolute;
  top: -2.3rem;
  right: -2.3rem;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0 0 2px white);
  }
}
