.affiche-saisie {
  position: absolute;
  top: 1.2rem;
  left: 18.8rem;
  padding: 0.7rem;
  background-color: teal;
  color: white;
}

.formulaire-saisie-inventaire {
  position: absolute;
  top: 15vh;
  left: 33vw;
  background: white;
  border: solid black 1px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 0 0.7em 1.1em;
    color: black;
  }

  li:nth-child(odd) {
    background: gainsboro;
  }

  li:nth-child(even) {
    background: ivory;
  }

  .image-produit {
    display: inline-block;
    width: 2rem;
    height: 2.6rem;
    position: relative;
    top: 0.3rem;
    background-repeat: no-repeat;
    background-position: bottom left 50%;
    background-size: 1rem auto;
  }

  label {
    display: inline-block;
    width: 9rem;
  }

  input {
    width: 4rem;
    height: 1.2rem;
  }

  .validation-inventaire {
    border-top: solid black 1px;

    .valide-saisie {
      position: relative;
      margin: 0.7rem 0.7rem 0.7rem 4rem;
      padding: 0.7rem;
      background: teal;
      color: white;
    }
  }

  .reponse-correcte {
    color: green;
  }

  .reponse-incorrecte {
    color: red;
  }
}

