@import 'commun/styles/bouton.scss';

.affiche-saisie {
  position: absolute;
  background: $blanc;
  outline: none;
  bottom: 12%;
  right: 15.3%;
  border: .5rem solid $couleur-fond-bouton-bleu;
  border-radius: .75rem;
  font-size: 1rem;
  box-shadow: 0 .5rem .625rem 0 $couleur-ombre;
  padding: 0rem;

  &:hover {
    border-color: $couleur-bordure-bouton-focus;
  }
}

.formulaire-saisie-inventaire {
  background: $blanc;
  border: solid $couleur-fond-bouton-bleu 0.625rem;
  width: 85%;
  margin: auto;
  border-radius: 1.5rem;
  box-shadow: 0 0 0 0.125rem $noir,
              0 0 0 .75rem $couleur-bordure-modale-reponse;
  padding: 4.75rem 1.75rem;
  position: relative;
  transition : border 500ms ease-out;


  &.succes-saisie-inventaire {
    border-color: $couleur-reponse-correcte;
  }

  ul {
    columns: 2;
  }

  li {
    display: flex;
    align-items: center;

    &:nth-child(1n + 5) {
      label {
        flex: initial;
      }
    }
  }

  .image-produit {
    height: 2.5rem;
    width: 4.2rem;
    text-align: center;

    img {
      max-height: 100%;
    }

    .grandeBouteille {
      transform: scale(1.5);
    }

  }

  label {
    display: inline-block;
    width: 9rem;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: right;
    width: 8.7rem;
    flex: 1;
  }

  input {
    width: 6.3rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    box-shadow: inset 0 .0625rem .1875rem 0 rgba(0, 0, 0, 0.5);
    border: solid .0625rem $couleur-bordure-input;
    background-color: $couleur-fond-input;
    margin: 1.25rem 0 1.25rem 1.25rem;
    font-size: 1.125rem;
    padding: .625rem .5rem;

    &::placeholder {
      color: $couleur-placeholder;
    }
  }

  .validation-inventaire {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -.625rem;
    left: 0;

    .valide-saisie {
      @include bouton-allonge($couleur-fond-bouton-bleu, $blanc);
      font-size: 1.125rem;
      border-radius: .625rem .625rem 0 0;

      &:hover { background: $couleur-bordure-bouton-focus }
    }
  }

  .saisie {
    position: relative;
  }

  .reponse {
    position: absolute;
    top: 50%;
    right: .625rem;
    transform: translateY(-50%);
    font-size: 1.125rem;

    &.reponse-correcte {
      color: $couleur-reponse-correcte;
    }

    &.reponse-incorrecte {
      color: $couleur-reponse-incorrecte;
    }
  }
}
.retour-stock {
  position: absolute;
  top: -.75rem;
  left: 0;
  width: 100%;
  text-align: center;

 .fa-arrow-left {
   padding-right: .625rem
  }

  .bouton-retour-stock {
    @include bouton-allonge($couleur-bordure-modale-reponse, $couleur-texte-bouton-retour);
    font-size: 1rem;
    padding-top: 0;
    border-radius: 0 0 .625rem .625rem;
    display: inline-block;
    border: 0.125rem solid $noir;
    border-top: 0.125rem solid $couleur-bordure-modale-reponse;
    cursor: pointer;

    &:hover {
      color: $noir;
      &i {
        color: $noir;
      }
    }
  }
}
