.etageres {
  position: relative;
  height: 100%;

  .avant-plan {
    position:absolute;
    top: 0;
    left: 0;

    .contenants {
      // Les trois premières propriétés sont indispensables pour que les
      // deux dernières soit bien active sur Safari
      // https://benfrain.com/attempting-to-fix-responsive-svgs-in-desktop-safari/
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  .image-fond {
    max-height: 100%;
    max-width: 100%;
  }

  .contenant {
    position: absolute;
    cursor: pointer;

    &:hover {
      fill: white;
      fill-opacity: .25;
      stroke-opacity: .8;
      stroke: white;
      stroke-width: .5;
    }
  }

  .barres {
    position: absolute;
    top:6%;
    height: 93%;
  }

  .barre-1 {
    left:3%;
  }
  .barre-2 {
    left:33%;
  }
  .barre-3 {
    left:65%;
  }
}
