@import 'commun/styles/couleurs.scss';

.mot-conteneur {
  color: $blanc;
  width: 100%;
  line-height: 6.5rem;
  font-size: 2.25rem;
  font-weight: bold;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mot, .croix {
  position: relative;
  top: 10%;
}

.boutons {
  background-color: $couleur-fond;
  position: absolute;
  bottom: 0;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  padding: 1.5rem;
  display: flex;
  width: 60%;

  > button {
    flex: 50%;
    margin: 0 .5rem;
  }
}
