@import 'commun/styles/variables.scss';

.mot-conteneur {
  color: $blanc;
  width: 100%;
  line-height: 6.5rem;
  font-size: 2.25rem;
  font-weight: 600;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mot, .croix {
  position: relative;
  top: 10%;
}

.actions-fleches {
  bottom: 0;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
}
