@import './variables.scss';
@import 'commun/styles/variables.scss';

@mixin dimensions-zone-depot {
  min-height: 108px;
  max-width: 586px;
}

.glisser-deposer--marche {
  .glisser-deposer__item {
    max-width: $largeur-item-glisse;
    height: 60px;
    z-index: 1;
  }

  .container-depart, .container-arrivee {
    position: absolute;
    right: 380px;
    bottom: 0;
    display: flex;
    align-items: flex-start;
  }

  .zone-depot {
    display: flex;
    gap: $gap-depot;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }

  img  {
    object-fit: cover;
    height: 100%;
  }

  .container-depart {
    align-items: flex-start;
    .zone-depot {
      padding: $padding-depot;
      justify-content: center;
    }
  }
}

.glisser-deposer--default {
  img  {
    width: 100%;
  }
  .container-depart, .container-arrivee {
    position: absolute;
    left: 0;
    padding: 20px;
    .zone-depot {
      @include dimensions-zone-depot();
      border-radius: 1rem;
    }
  }
  .container-depart {
    top: 120px;
    bottom: 40%;
  }
  .container-arrivee {
    bottom: 0;
    top: 60%;
    .zone-depot {
      background: $couleur-fond;
      display: flex;
      align-items: stretch;
      padding: 1.5rem;
    }
  }
}

.glisser-deposer--personnalise {
  img  {
    display: block;
    margin: auto;
  }
  .container-depart {
    bottom: 5%;
    padding: 20px;
    .zone-depot {
      padding: $padding-depot;
      @include dimensions-zone-depot();
    }
  }
  .container-arrivee {
    .zone-depot {
      justify-content: center;
      align-items: center;
      background: $couleur-fond;
      height: 100%;
      border: 4px solid $bleu;
    }
  }
  .zone-depot {
    position: relative;
    border-radius: 8px;
  }
  .rectangle-bleu {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-color: $bleu;
    opacity: 0.8;
    border: 3px solid $bleu;
    border-radius: 8px;

    &--cache {
      transform: translate(-50%, -50%) scale(1);
      transition-duration: 1s;
    }

    &--visible {
      transform: translate(-50%, -50%) scale(1.1);
      transition-duration: 1s;
    }
  }
}

.glisser-deposer--horizontal {
  .container-depart {
    bottom: 0;
    padding: 1.25rem;

    .zone-depot {
      width: 37.5rem;
      min-height: auto;
      gap: 1.25rem;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
  .glisser-deposer__item {
    max-width: 3.875rem;
    max-height: 2rem;
  }
}

.glisser-deposer--vertical {
  .container-depart {
    padding: 0;
    right: 23.75rem;
    bottom: 0;

    .zone-depot {
      width: 6.875rem !important;
      height: 35.375rem;
      gap: 1.5rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

