@import './variables.scss';
@import 'commun/styles/variables.scss';

.glisser-deposer-billets {
  .glisser-deposer__item {
    width: $largeur_billet;
    min-width: $largeur_billet;
    height: 60px;
    z-index: 1;
  }
  img  {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .container-depart, .container-arrivee {
    position: absolute;
    left: 0;
    right: 380px;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    .zone-depot {
      min-height: 108px;
      border-radius: 1rem;
    }
  }
  .container-depart {
    top: 120px;
    bottom: 40%;
    align-items: flex-start;
    .zone-depot {
      justify-content: center;
    }
  }
  .container-arrivee {
    bottom: 0;
    top: 60%;
    .zone-depot {
      background: $couleur-fond;
      display: flex;
      align-items: stretch;
      padding: 1.5rem;
    }
  }
  .zone-depot {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }
}
