@import './variables.scss';
@import 'commun/styles/variables.scss';

.glisser-deposer-non-ordonnable {
  .glisser-deposer__item {
    width: $largeur_billet;
    min-width: $largeur_billet;
    height: 60px;
    z-index: 1;
    &--flottant {
      animation: flottement 3s ease-in-out infinite;
    }
  }
  img  {
    object-fit: cover;
    height: 100%;
    display:block;
    margin: auto;
  }
  .container-depart, .container-arrivee {
    position: absolute;
    right: 380px;
    bottom: 0;
    display: flex;
    align-items: flex-start;
  }
  .container-depart {
    bottom: 10%;
    align-items: flex-start;
    padding: 20px;
    min-width: 188px;
    .zone-depot {
      justify-content: center;
      min-height: 108px;
    }
  }
  .container-arrivee {
    .zone-depot {
      justify-content: center;
      align-items: center;
      background: $couleur-fond;
      height: 100%;
      border: 4px solid $bleu;
    }
  }
  .zone-depot {
    position: relative;
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    border-radius: 8px;
  }

  .rectangle-bleu {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-color: $bleu;
    opacity: 0.8;
    border: 3px solid $bleu;
    border-radius: 8px;

    &--cache {
      transform: translate(-50%, -50%) scale(1);
      transition-duration: 1s;
    }

    &--visible {
      transform: translate(-50%, -50%) scale(1.1);
      transition-duration: 1s;
    }
  }
}
