.acces-situation {
  display: block;
  position: absolute;
  font-size: 0;
  background: bottom / contain no-repeat;
  width: 411px;
  height: 382px;
  bottom: 0px;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0 0 20px white);
  }

  &.desactivee {
    pointer-events: none;
  }
}
