@import 'commun/styles/couleurs.scss';
@import 'commun/styles/mixins/conteneur.scss';
@import 'commun/styles/mixins/boutons.scss';

#accueil {
  display: flex;
  flex-direction: column;
  @include conteneur;

  .titre {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem 2rem 0;
    position: absolute;
    z-index: 100;

    .logo {
      height: 3.5rem;
    }
    .titre-campagne {
      margin-left: 2.8rem;
      color: $blanc;
      > span {
        color: $bleu-fonce;
      }
    }
    .confirmation-deconnexion {
      margin-left: auto;
      .confirme-bouton {
        margin-left: 1rem;
      }

      .annulation-deconnexion {
        margin-left: 1rem;
        margin-right: 2rem;
        color: $couleur-texte;
      }
    }
  }

  .scene {
    transition: background-position-x 1s;
  }

  .acces-situations {
    position: absolute;
    bottom: 70px;
    transition: left 1s;
  }

  .personnage {
    position: absolute;
    bottom: 20px;
    left: 40%;
    pointer-events: none;
    z-index: 100;
  }

  .bouton-navigation-situation {
    @include bouton($couleur-fond-bouton-bleu, $couleur-fond-bouton-bleu-focus);
    border-radius: 3.125rem;
  }

  .bouton-et-etiquette {
    &:not(.desactivee) {
      &:hover {
        .bouton-navigation-situation {
          background-color: $couleur-fond-bouton-bleu-focus;
        }
      }
    }
    &.desactivee {
      pointer-events: none;
    }
  }

  .annonce {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    text-align: center;
    background-color: $rouge;
    &-description {
      font-family: 'Quicksand', sans-serif;
      font-size: 0.875rem;
      font-weight: bold;
      color: $couleur-fond;
    }
  }
}
