@import 'commun/styles/variables.scss';
@import 'commun/styles/mixins/conteneur.scss';
@import 'commun/styles/mixins/boutons.scss';

#accueil {
  display: flex;
  flex-direction: column;
  @include conteneur;
  .conteneur {
    background-color: #A2ADAF;
  }

  .titre {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem 2rem 0;
    position: absolute;
    z-index: 100;

    .logo {
      height: 3.5rem;
    }
    .titre-campagne {
      margin-left: 2.8rem;
      color: $blanc;
      > span {
        color: $bleu-fonce;
      }
    }
    .confirmation-deconnexion {
      margin-left: auto;
      .confirme-bouton {
        margin-left: 1rem;
      }

      .annulation-deconnexion {
        margin-left: 1rem;
        margin-right: 2rem;
        color: $couleur-texte;
      }
    }
  }

  .scene {
    transition: background-position-x 1s;

    &-titre {
      font-size: 2.25rem;
    }
  }

  .acces-situations {
    position: absolute;
    bottom: 62px;
    transition: left 1s;
  }

  .personnage {
    position: absolute;
    bottom: 20px;
    left: 40%;
    pointer-events: none;
    z-index: 100;
  }

  .fleche-navigation-situation {
    display: flex;
    background: none;
    svg {
      fill: $blanc;
      path {
        fill: $bleu;
      }
    }
    &.desactivee {
      svg {
        path {
          fill: $bleu-gris;
        }
      }
    }
  }

  .bouton-et-etiquette {
    &.desactivee {
      pointer-events: none;
      span {
        opacity: 1;
        color: $bleu-gris;
      }
    }
    .bouton-arrondi {
      font-size: 1rem;
      line-height: 1.188rem;
      padding: 0.5rem 1.5rem;
    }
  }

  .annonce {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    text-align: center;
    background-color: $rouge;
    &-description {
      font-family: $font-quicksand;
      font-size: 0.875rem;
      font-weight: bold;
      color: $couleur-fond;
    }
  }

  .actions-accueil {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;

    .bouton-commence-situation {
      border: 2px solid $eva-light;
      font-size: 1.125rem;
      padding: 0.375rem 1.5rem;
    }
  }

  .texte-lien {
    cursor: pointer;
    text-decoration: underline;
  }

  .texte-lien:hover {
    text-decoration: none;
  }
}
