@import 'commun/styles/couleurs.scss';
@import 'commun/styles/mixins/bords_arrondis.scss';

#accueil {
  display: flex;
  flex-direction: column;

  .titre {
    display: flex;
    align-items: baseline;

    form {
      text-align: right;
      flex-grow: 1;
    }
  }

  .situations {
    @include bords-arrondis;
    height: 566px;
    position: relative;
    background-repeat: no-repeat;
  }

  .situation {
    display: block;
    position: absolute;
    font-size: 0;
    background: center / contain no-repeat;

    &:hover {
      filter: drop-shadow(0 0 20px white);
    }

    &.tri {
      width: 225px;
      height: 250px;
      left: 215px;
      top: 10px;
    }

    &.inventaire {
      width: 247px;
      height: 214px;
      left: 350px;
      top: 190px;
    }

    &.controle {
      width: 271px;
      height: 302px;
      left: 570px;
      top: -38px;
    }

    &.desactivee {
      filter: contrast(80%) saturate(30%);
    }
  }

  .progression, .personnages {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: center / contain no-repeat;
  }
}
