@import 'commun/styles/couleurs.scss';
@import 'commun/styles/mixins/bords_arrondis.scss';
@import 'commun/styles/mixins/conteneur.scss';
@import 'commun/styles/mixins/ombre.scss';

#accueil {
  display: flex;
  flex-direction: column;
  @include conteneur;

  .titre {
    display: flex;
    align-items: baseline;

    h1 {
      flex-grow: 1;
    }
  }

  .acces-situations {
    @include bords-arrondis;
    @include ombre;
    height: 35.375rem;
    position: relative;
    background-repeat: no-repeat;
  }

  .progression, .personnages {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
}
