.accueil {
  a {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
  }

  li {
    margin: 1em;
  }

  li:nth-child(2n) {
    background: seaGreen;
  }

  li:nth-child(2n+1) {
    background: dodgerBlue;
  }
}
