@import 'commun/styles/couleurs.scss';

.overlay.modale {

  .modale-interieur.bravo {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80%;

    .message-fin {
      max-width: 16rem;
    }

    .avatar-fin {
      height: 35rem;
      margin-right: 3rem;
    }
  }

  .modale-interieur.resultat {
    text-align: center;
    margin-bottom: 0;

    h2 {
      margin-bottom: 0;
    }

    .contenu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 2rem;
    }

    .message-competences-fortes {
      margin-bottom: 1rem;
    }

    .competences-fortes {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0 2rem;
      text-align: left;

      &-nom {
        color: $couleur-principale-marque-et-interaction;
        margin: 0;
      }
      &-description {
        font-size: 1rem;
      }
      img {
        margin: 2rem;
        width: 5rem;
        align-self: center;
      }
    }
  }

  .voxusagers {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
