@import 'commun/styles/couleurs.scss';

.overlay.modale {
  .modale-interieur.bravo {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80%;

    .message-fin {
      max-width: 16rem;
    }

    .avatar-fin {
      height: 35rem;
      margin-right: 3rem;
    }
  }

  .modale-interieur.resultat {
    margin-bottom: 0;

    h2 {
      margin-bottom: 0;
    }

    h2,
    .message-competences-fortes {
      text-align: center;
    }

    .contenu {
      display: flex;
      flex-direction: column;
      margin: 3rem 0 2rem;
    }

    .message-competences-fortes {
      font-size: 1.125rem;
      margin-bottom: 1rem;
      color: $noir;
      margin-bottom: 0;
    }

    .competences-fortes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
      &:last-child {
        margin-bottom: 0;
      }
      &-informations {
        max-width: 17.5rem;
      }
      &-nom {
        color: $couleur-principale-marque-et-interaction;
        margin: 0;
      }
      &-description {
        margin-bottom: 1rem;
        font-size: 0.875rem;
      }
      img {
        width: 6rem;
        height: 6rem;
      }
    }
  }
}
