@import 'commun/styles/couleurs.scss';

.overlay.modale {

  .modale-interieur.bravo {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80%;

    .message-fin {
      max-width: 16rem;
    }

    .avatar-fin {
      height: 35rem;
      margin-right: 3rem;
    }
  }

  .modale-interieur.resultat {
    text-align: center;
    margin-bottom: 0;

    h2 {
      margin-bottom: 0;
    }

    .contenu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 2rem;
    }

    .actions-fin {
      position: absolute;
      bottom: 1.25rem;
      margin-bottom: 0;
      height: 4rem;
      width: 100%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .mon-avis {
        height: 4rem;
        width: 40rem;
        display: flex;
        background: $couleur-fond;
        border: 1px solid $vert-clair;
        border-radius: 4rem;
        padding: 1rem .5rem;
        font-size: 0.875rem;

        .information-avis {
          flex-grow: 1;
          align-items: center;
          text-align: left;

          span {
            margin-left: 1rem;
          }
        }
        a {
          color: $blanc;
        }

        .bouton-arrondi-vert {
          padding-left: 1.125rem;
          padding-right: 1.125rem;
        }
        .bouton-arrondi-orange {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          margin-left: .5rem;
          margin-right: .5rem;
        }
        .actions-avis, .information-avis { display: flex; }
      }
    }

    .message-competences-fortes {
      font-size: 1.125rem;
      margin-bottom: 1rem;
      color: $noir;
      margin-bottom: 0;
    }

    .competences-fortes {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0 2rem;
      text-align: left;

      &-nom {
        color: $couleur-principale-marque-et-interaction;
        margin: 0;
      }
      &-description {
        font-size: .875rem;
      }
      img {
        margin: 2rem;
        width: 5rem;
        align-self: center;
      }
    }
  }
}
