@import 'commun/styles/couleurs.scss';

h2 {
    margin-bottom: 4rem;
}

.elements-formulaire {
  display: flex;
  flex-wrap: wrap;
  > div {
    width: 50%;
  }
}

.input-accueil {
  border: 1px solid $bleu-gris;
  border-radius: .5rem;
  width: 62%;
  height: 3rem;
  padding: 1rem;
  transition: border .3s;
  outline: none;

  &:active, &:focus, &:hover {
    border-color: darken($bleu-gris, 10%);
  }
}

.element-formulaire {
  margin: .5rem auto;
}

.cgu-label {
  display: flex;
  align-items: flex-start;
  max-width: 70%;
  padding: .8rem .6rem 1.3rem 1rem;
  margin: 1.5rem 0;
  border-radius: .75rem;
  border: 1px solid $bleu-gris;
  background-color: $blanc;

  input[type="checkbox"] {
    flex-shrink: 0;
  }
}

.cgu-text {
  margin-left: 1.2rem;
  font-size: .9rem;
  line-height: 1rem;
  > a {
    color: $bleu;
    text-decoration: none;
  }
}
