@import 'commun/styles/couleurs.scss';

.elements-formulaire {
  display: flex;
  flex-wrap: wrap;
  > div {
    width: 50%;
  }
}

.input-accueil {
  box-shadow: inset .1rem .2rem .2rem $couleur-ombre-input-accueil;
  border-color: $couleur-bordure-input-accueil;
  border-style: solid;
  border-radius: .5rem;
  width: 62%;
  height: 3rem;
  padding: 1rem;
  transition: border .3s;
  outline: none;

  &:active, &:focus, &:hover {
    border-color: darken($couleur-bordure-input-accueil, 10%);
  }
}

.element-formulaire {
  margin: .5rem auto;
}

.cgu-label {
  display: flex;
  align-items: flex-start;
  max-width: 70%;
  margin: 1.5rem 0;

  input[type="checkbox"] {
    flex-shrink: 0;
  }
}

.cgu-text {
  font-size: .9rem;
  > a {
    color: $bleu-fonce;
  }
}
