@import 'commun/styles/variables.scss';

.modale-formulaire {
  font-size: 1.125rem;
  > div {
    width: 100%;
  }
}

.formulaire-identification-titre {
  margin-bottom: 4rem;
}

.elements-formulaire {
  display: flex;
  flex-wrap: wrap;
  > div {
    margin-right: 1.9rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.modale-formulaire {
  .erreur-generale {
    color: $couleur-accent-et-erreur;
    margin-bottom: 1rem;
  }
}

.element-formulaire {
  margin: .5rem 0 1rem 0;
  width: 18.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ::placeholder {
    color: $bleu-gris;
  }

  .erreur {
    &-champ {
      border: solid $couleur-accent-et-erreur 1px
    }

    &-message {
      color: $couleur-accent-et-erreur;
      font-size: .75rem;
    }
  }
}

.cgu-label {
  display: flex;
  align-items: flex-start;
  max-width: 70%;
  padding: .8rem .6rem 1.3rem 1rem;
  margin: 0.5rem 0;
  border-radius: .75rem;
  border: 1px solid $bleu-gris;
  background-color: $blanc;

  input[type="checkbox"] {
    flex-shrink: 0;
  }
}

.cgu-text {
  margin-left: 1.2rem;
  font-size: .9rem;
  line-height: 1rem;
  > a {
    color: $bleu;
    text-decoration: none;
  }
}
