@import 'commun/styles/couleurs.scss';

.modale-formulaire-contact {
  > div {
    width: 100%;
  }
}

.formulaire-contact-description {
  margin-top: 0;
  margin-bottom: 3rem;
}

.elements-formulaire {
  display: flex;
  flex-wrap: wrap;
  > div {
    width: 50%;
  }
}

.input-accueil {
  border: 1px solid $bleu-gris;
  border-radius: .5rem;
  width: 62%;
  height: 3rem;
  padding: 1rem;
  font-size: 1.12rem;
  font-family: 'Work Sans', sans-serif;
  transition: border .3s;
  outline: none;
  color: $bleu-fonce;

  &:active, &:focus, &:hover {
    border-color: darken($bleu-gris, 10%);
  }
}

.element-formulaire {
  margin: .5rem auto;
  ::placeholder {
    color: $bleu-gris;
  }
}
