@import 'commun/styles/variables.scss';

.popup-portrait {
  display: none
}

/* Portrait orientation */
@media screen and (orientation: portrait) and (max-width: $taille-conteneur) {
  .popup-portrait {
    display: flex;
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 99999;
    width: 100vw;
    background: rgba(110, 132, 254, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    &__titre, &__instructions {
      color: $blanc
    }

    &__titre {
      font-size: 2rem;
    }

    svg {
      circle, path {
      fill: $couleur-fond;
      }
      rect {
        stroke: $couleur-fond;
      }
    }
  }
}
