@import 'commun/styles/variables.scss';

.zone-cliquable {
  position: absolute;
  z-index: 1;

  .mot-cliquable {
    padding: 0 2px;
    cursor: pointer;
    text-decoration: none;
    border: 1px dotted $vert-clair;
    border-radius: 0.25rem;
    background: rgba(251, 249, 250, 0.1);

    &--selectionne {
      border: 1px solid $bleu;
      background: $bleu;
    }
  }
}

.liste-chansons {
  left: 11.5rem;
  top: 9.2rem;
  width: 13rem;
  color: $couleur-fond;

  li {
    line-height: 2.25rem;
    height: 2.25rem;
  }

  .mot-cliquable {
    color: $couleur-fond;
    &--selectionne {
      mix-blend-mode: lighten;
    }
  }
}

.article {
  font-family: $font-sarabun;
  color: $noir;

  &:hover a:not(.mot-cliquable--selectionne) {
    background: $bleu-gris;
    mix-blend-mode: multiply;
  }

  table {
    border-spacing: 0rem;

    tr {
      vertical-align: top;
    }
  }

  .legende {
    &, a {
      color:#2F80ED;
    }
    .mot-cliquable--selectionne {
      color: $couleur-fond;
    }
  }

  span {
    display: inline-block;
    margin-bottom: 0.625rem;
  }

  .mot-cliquable {
    color: $noir;
    border-color: $bleu-gris-fonce;
    mix-blend-mode: multiply;
    &--selectionne {
      color: $couleur-fond;
    }
  }
}

.article--disque {
  top: 2.5rem;
  left: 4.375rem;
  line-height: 135%;
  width: 33.25rem;

  table {
    tr {
      td:first-child {
        width: 15.125rem;
      }
      td:last-child {
        width: auto;
        padding-left: 2rem;
      }
    }
  }
}

.article--villes-fleuries {
  top: 5.5rem;
  left: 5.25rem;
  line-height: 125.5%;
  width: 31.45rem;
  font-size: 0.875rem;

  table {

    tr {
      td:first-child {
        width: 15.2rem;
      }
      td:last-child {
        padding-left: 1.23rem;
      }
    }
  }
}

