@import 'commun/styles/variables.scss';

.email-fleurs-bibelots {
  font-family: $font-sarabun;

  hr {
    border: 0.9px solid $bleu-gris;
  }

  p {
    margin: 0;
    margin-bottom: 0.875rem;
  }

  &__destinataire {
    color: $bleu-gris-fonce;
    font-size: 0.875rem;

    .nom {
      color: $bleu;
    }
  }

  &__message {
    padding-top: 1.5rem;
  }
}

.zone-scroll {
  position: absolute;
  display: flex;
  justify-content: end;
  padding: 1.5rem;
  width: 23.75rem;
  top: 0.5rem;
  left: 8.5rem;

  &__ascenseur {
    position: absolute;
    right: 0.5rem;
    top: 1.75rem;
  }
}
