@import 'commun/styles/variables.scss';

@mixin puzzle {
  position: absolute;
  top: 32px;
  width: 456px;
}

.puzzle-journal {
  .container-arrivee .zone-depot {
    @include puzzle();

    left: 32px;
    padding: 4.25rem 1.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 3rem;
  }

  .container-depart .zone-depot {
    @include puzzle();
    right: 32px;
    min-height: 494px;
  }

  .glisser-deposer__item {
    display: flex;
    font-size: .875rem;
    line-height: 1.125rem;
    padding: .25rem .625rem;
    background: $couleur-fond;
    border: 1px solid $bleu-gris;
    box-shadow: 0px 0px 8px rgba(30, 65, 106, 0.25);
    border-radius: .25rem;
    margin-bottom: 0.5rem;
    flex-grow:0;

    &.sortable-chosen {
      background: $bleu-fonce;
      color: $blanc;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .puzzle-icone {
    display: flex;
    align-items: center;
    margin-right: .625rem;
    svg circle {
      fill: $bleu-gris;
    }
  }
}
