<!DOCTYPE html>
<html>
  <head>
    <style>
      .chargement-termine {
        display: none /* cette propriété sera surchagé dans commun.scss qui sera chargé plus tard */
      }
    </style>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% if ((process.env.HOTJAR_ID != undefined) && process.env.HOTJAR_ID != '' ) { %>
    <!-- Hotjar Tracking Code -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:<%= process.env.HOTJAR_ID %>,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <% } %>
    <% if ((process.env.MATOMO_ID != undefined) && process.env.MATOMO_ID != '' ) { %>
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://stats.data.gouv.fr/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '<%= process.env.MATOMO_ID %>']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
    <% } %>
    <script type="text/javascript">
      if (window.navigator && 'serviceWorker' in window.navigator) {
        window.addEventListener('load', async () => {
          // Supprimer l'ancien service worker
          const registrations = await window.navigator.serviceWorker.getRegistrations();
          for (let registration of registrations) {
            if (registration.scope.includes('/jeu/')) {
              console.log('Unregistering old SW:', registration.scope);
              await registration.unregister();
            }
          }

          window.navigator.serviceWorker.register('/service-worker.js').then(registration => {
            console.log('SW registered: ', registration);
          }).catch(registrationError => {
            console.log('SW registration failed: ', registrationError);
          });
        });
      }
    </script>
  </head>
  <body>
    <section class='chargement'>
      Chargement en cours d'eva…
    </section>
    <section class='footer chargement-termine'>
      <h2 class='footer-titre'>eva</h2>
      <div class='footer-contenu'>Le code source <a href="https://github.com/betagouv/eva">est libre</a>
        <span class='footer-version'> - version <%= process.env.SOURCE_VERSION_COURTE %></span>
      </div>
    </section>
    <div class="popup-portrait chargement-termine">
      <svg width="192" height="106" viewBox="0 0 192 106" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="3.5" y="3" width="53" height="100" rx="4" stroke-width="6"/>
        <circle cx="30.5" cy="92" r="4"/>
        <rect x="188.5" y="50" width="53" height="100" rx="4" transform="rotate(90 188.5 50)" stroke-width="6"/>
        <circle cx="99.5" cy="77" r="4" transform="rotate(90 99.5 77)"/>
        <path d="M98.5 27C98.5 28.6569 99.8431 30 101.5 30C103.157 30 104.5 28.6569 104.5 27H98.5ZM99.6731 17.8156L102.445 16.6675V16.6675L99.6731 17.8156ZM94.4706 10.0294L96.5919 7.90812V7.90812L94.4706 10.0294ZM86.6844 4.82689L87.8325 2.05525V2.05525L86.6844 4.82689ZM77.5 0C75.8431 0 74.5 1.34315 74.5 3C74.5 4.65685 75.8431 6 77.5 6V0ZM104.5 27C104.5 23.4543 103.802 19.9433 102.445 16.6675L96.9015 18.9636C97.9568 21.5115 98.5 24.2422 98.5 27H104.5ZM102.445 16.6675C101.088 13.3918 99.0991 10.4153 96.5919 7.90812L92.3492 12.1508C94.2993 14.1008 95.8461 16.4158 96.9015 18.9636L102.445 16.6675ZM96.5919 7.90812C94.0847 5.40094 91.1082 3.41213 87.8325 2.05525L85.5364 7.59853C88.0842 8.65388 90.3992 10.2007 92.3492 12.1508L96.5919 7.90812ZM87.8325 2.05525C84.5567 0.698375 81.0457 0 77.5 0V6C80.2578 6 82.9885 6.54318 85.5364 7.59853L87.8325 2.05525Z"/>
        <path d="M113.421 26.0208C114.593 24.8492 114.593 22.9497 113.421 21.7782C112.25 20.6066 110.35 20.6066 109.179 21.7782L113.421 26.0208ZM101.4 33.799L99.2791 35.9203C100.451 37.0919 102.35 37.0919 103.522 35.9203L101.4 33.799ZM93.6222 21.7782C92.4506 20.6066 90.5511 20.6066 89.3796 21.7782C88.208 22.9497 88.208 24.8492 89.3796 26.0208L93.6222 21.7782ZM109.179 21.7782L99.2791 31.6777L103.522 35.9203L113.421 26.0208L109.179 21.7782ZM103.522 31.6777L93.6222 21.7782L89.3796 26.0208L99.2791 35.9203L103.522 31.6777Z"/>
      </svg>
      <h1 class="popup-portrait__titre">Bienvenue sur eva !</h1>
      <div class="popup-portrait__instructions"><strong>Veuillez pivoter votre écran</strong> afin d’optimiser votre expérience d’eva.</div>
    </div>
  </body>
</html>
