@import 'commun/styles/couleurs.scss';

.question-contenu {
  .intitule-reponse {
    font-weight: 500;
  }
  .reponse-redaction {
    width: 100%;
    height: 184px;
    padding: 0.75rem;
    text-align: left;
    resize: none;
    border: 1px solid $gris-clair;
    border-radius: 8px;

    &::placeholder {
      color: $gris;
    }
  }
}
