@import 'commun/styles/couleurs.scss';
@import 'commun/styles/dimensions.scss';

.progression-question {
  position: absolute;
  top: -0.3rem;
  right: -0.5rem;
  background: $couleur-sombre;
  border-radius: 1rem;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  color: #fff;
  font-size: 0.9rem;
}


.question {
  background-color: $couleur-fond-module;
  display: flex;
  align-items: center;

  &-illustration {
    height: $hauteur-scene;
  }

  &-barre {
    background-color: $blanc;
    border-radius: 2rem;
    padding: 1.25rem 1.875rem;
    position: absolute;
    right: 1.25rem;
    width: 295px;
    font-size: 0.875rem;
  }

  &-choix {
    margin-top: 1rem;
  }

  &-bouton {
    float: right;
    margin-top: 0.625rem;
  }
}

.intitule-question {
  color: $couleur-fond-bouton-bleu;
}

.sans-marge {
  margin: 0;
}
