.zone-deplacement {
  position: absolute;
  width: 100%;
  height: 100%;
}

.eglise-maison-a-placer {
  position: absolute;
  top: 355px;
  left: 480px;
  cursor: grab;
}

.eglise-maison-selectionnee {
  // Nous avons décidé de supprimer le drop-shadow car il est bugé sur Safari (et donc sur tablette Apple)
  // https://over.wiki/ask/safari-bug-when-using-drop-shadow-and-transform
  cursor: grabbing;
}
